<div class="center">
  <div class="center-top">
    <div class="login">
      ログイン中のユーザー
    </div>
    <div class="login-user">
      <div class="user-name">
        <a href="#">田中大貴(親)</a>
      </div>
      <div class="room-create">
      <%# userが先生の時だけ表示する %>
        <a href="#">ルームの作成</a>
      </div>
    </div>
  </div>
  <div class="center-bottom">
    <div class="member">
    </div>
    <div class="member-list">
    </div>
  </div>
</div>