<div class="center">
  <div class="center-top">
    <div class="login">
    </div>
    <div class="login-user">
    </div>
  </div>
  <div class="center-bottom">
    <div class="member">
    </div>
    <div class="member-list">
    </div>
  </div>
</div>