<div class="application-header">
  <h3>このアプリは学校での教育、先生とのコミュニケーションを<br>円滑に取るために作られたものです。<br>使用方法を守り生徒が最後に<br>
  <span>「この学校に通えてよかった」</span><br><span>「この学校に通わせてくれてありがとう」</span><br>
  と、言ってもらえるような学園生活を一緒に作っていきませんか？
  </h3>
  <div class="application-middle">
    <p>・え、そんな手紙知らない</p>
  <p>・連絡網来てたけど仕事で回せなかった</p>
  <p>・子供が学校生活楽しく過ごせているのかしら</p>
  <p>・etc</p>
  <p class="last-sentence">そんな思いが少しでも解決できるように作りました。<br>ご活用いただけると幸いです</p>
  </div>
  <div class="application-footer">
    <%= image_tag "koumon.png", class:"koumon"%>
  </div>
</div>
  