* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
.side-bar {
  background-color: #333333;
  height: 100vh;
  width: 20%;
}
.center-bar {
  background-color: #EEEEEE;
  height: 100vh;
  width: 20%;
}
.chat {
  background-color: #FFFFFF;
  height: 100vh;
  width: calc(100vw - 40vw);
}
.menu-header {
  background-color: #444444;
  height: 100px;
  padding: 0 20px;
  display: flex;
}
.bird-icon {
  margin-top: 25px;
}
.menu-notation {
  font-size: 20px;
  color: #FFFFFF;
  width: 200%;
  margin-top: 40px;
  margin-right: 100px;
}
.menu-bar {
  background-color: #333333;
  height: calc(100% - 100px);
  padding: 0 20px;
}
.center {
  border: 1px solid #777777;
}
.center-top {
  background-color: #EEEEEE;
  height: 300px;
}
.login {
  background-color: #EEEEEE;
  height: 40px;
  border-bottom: 1px solid #777777;
}
.login-user {
  background-color: #FFFFFF;
  height: 260px;
}
.center-bottom {
  background-color: #FFFFFF;
  height: calc(100% - 300px);
}
.member {
  background-color: #EEEEEE;
  height: 40px;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}
.member-list {
  background-color: #FFFFFF;
  height: 450px;
}
.chat-header {
  background-color: #FFFFFF;
  height: 50px;
  box-shadow: 5px 5px 15px;
  padding: 0 40px;
}
.messages {
  background-color: FFFFFF;
  height: calc(100% - 140px);
  padding: 45px 40px 40px;
}
.form {
  border-top: 1px solid#777777;
  height: 90px;
  padding: 0 40px;
}