.wrapper {
  display: flex;
}
.side-bar {
  background-color: #333333;
  height: 100vh;
  width: 20%;
}
.center-bar {
  background-color: #EEEEEE;
  height: 100vh;
  width: 20%;
}
.chat {
  background-color: #FFFFFF;
  height: 100vh;
  width: calc(100vw - 40vw);
}
.menu-header {
  background-color: #444444;
  height: 100px;
}
.menu-bar {
  background-color: #333333;
  height: calc(100vh - 100px);
}
.center {
  border: 1px solid #777777;
}
.center-top {
  background-color: #EEEEEE;
  height: 300px;
}
.login {
  background-color: #EEEEEE;
  height: 40px;
}
.login-user {
  background-color: #FFFFFF;
  height: calc(100vh - 40px);
}
.center-bottom {
  background-color: #FFFFFF;
  height: calc(100vh - 300px);
}
.member {
  background-color: #EEEEEE;
  height: 40px;
}
.member-list {
  background-color: #FFFFFF;
  height: calc(100vh - 40px);
}
.chat-header {
  background-color: #FFFFFF;
  height: 50px;
  box-shadow: 5px 5px 15px;
}
.messages {
  background-color: FFFFFF;
  height: calc(100vh - 140px);
}
.form {
  border-top: 1px solid#777777;
  height: 90px;
}